[submodule "Formacao_APIsComNodeJsEExpress/3374-nodejs-express-sequelize"]
	path = Formacao_APIsComNodeJsEExpress/3374-nodejs-express-sequelize
	url = git@github.com:Luidi1/3374-nodejs-express-sequelize.git
