[submodule "Formacao_APIsComNodeJsEExpress/3374-nodejs-express-sequelize"]
	path = Formacao_APIsComNodeJsEExpress/ORM_com_Node.js_desenvolvendo_uma_API_com_Sequelize_e_SQLite
	url = git@github.com:Luidi1/3374-nodejs-express-sequelize.git
[submodule "Formacao_APIsComNodeJsEExpress/3414-node-sequelize-II"]
	path = Formacao_APIsComNodeJsEExpress/ORM_com_Node.js_avancando_nas_funcionalidades_do_Sequelize
	url = git@github.com:Luidi1/3414-node-sequelize-II.git
[submodule "Formacao_APIsComNodeJsEExpress/4548-swagger-documentation"]
	path = Formacao_APIsComNodeJsEExpress/4548-swagger-documentation
	url = git@github.com:Luidi1/4548-swagger-documentation.git
[submodule "formacaoAPartirDoZero/CursoDeLogicaDeProgramacao_PraticandoComDesafios_Alura"]
	path = formacaoAPartirDoZero/CursoDeLogicaDeProgramacao_PraticandoComDesafios_Alura
	url = git@github.com:Luidi1/CursoDeLogicaDeProgramacao_PraticandoComDesafios_Alura.git
[submodule "Formacao_APIsComNodeJsEExpress/WebSockets_implemente_comunicacoes_em_tempo_real_com_Socket.IO_e_MongoDB"]
	path = Formacao_APIsComNodeJsEExpress/WebSockets_implemente_comunicacoes_em_tempo_real_com_Socket.IO_e_MongoDB
	url = git@github.com:Luidi1/WebSockets_implemente_comunicacoes_em_tempo_real_com_Socket.IO_e_MongoDB.git
[submodule "Formacao_APIsComNodeJsEExpress/WebSockets_implemente_autenticacao_e_avance_no_Socket.IO"]
	path = Formacao_APIsComNodeJsEExpress/WebSockets_implemente_autenticacao_e_avance_no_Socket.IO
	url = git@github.com:Luidi1/WebSockets_implemente_autenticacao_e_avance_no_Socket.IO.git
[submodule "FormacaoAutenticaçãoTestesESegurancaEmNode.js/Node.jsTestesUnitariosEDeIntegracao"]
	path = FormacaoAutenticaçãoTestesESegurancaEmNode.js/Node.jsTestesUnitariosEDeIntegracao
	url = git@github.com:Luidi1/Node.jsTestesUnitariosEDeIntegracao.git
[submodule "Node.jsTestesUnitariosEDeIntegracao"]
	path = Node.jsTestesUnitariosEDeIntegracao
	url = git@github.com:Luidi1/Node.jsTestesUnitariosEDeIntegracao.git
